<%- include('header'); %>
<%- include('sidebar'); %>

        <div id="content-wrapper">

            <div class="container-fluid">

                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i> Catalogue des produits</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="product-list" class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Description</th>
                                        <th>Poids</th>
                                        <th>Prix</th>
                                        <th>Stock</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Description</th>
                                        <th>Poids</th>
                                        <th>Prix</th>
                                        <th>Stock</th>
                                        <th>Image</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% for(var i=0;i<articles.length;i++) {%>
                                        <tr>
                                            <td>
                                                <%= articles[i].title %>
                                            </td>
                                            <td>
                                                <%= articles[i].description %>
                                            </td>
                                            <td>
                                                <%= articles[i].weight %>kg
                                            </td>
                                            <td>
                                                <%= articles[i].price %>€
                                            </td>
                                            <td class=<%switch(articles[i].stock) { case 0:%>
                                                <%= 'noStock' %>
                                                    <% break;}%>>
                                                        <%= articles[i].stock %>
                                            </td>
                                            <td><img src="/images/<%= articles[i].img %>"></td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

<%- include('footer'); %>